<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bucket list</title>

</head>
<body style="background-color: antiquewhite;">
    <h1>REJA VA MAQSADLAR</h1>
    <form action="/addItem" method="post">
    <!-- Item Name -->
    <label for="itemName">Item Name:</label>
    <input type="text" id="itemName" name="itemName" required>

    <!-- Submit button -->
    <button type="submit">Add Item</button>
  </form>
</div>
</div>
</body>
</html>